- content_for :javascript do
  initialize_checkout();



%h2.design-h2
  = "Checkout"


%table
  %thead
    %tr
      %th= "Product"
      %th= "Price"
      %th= "Quantity"
  %tbody
  - @cart_items.each do |row|
    %tr
    - if row.present?
      %td= Listing.find_by_id(row.item_id).title
      %td= Listing.find_by_id(row.item_id).price
      %td= row.quantity
%a.button
  .content.purchase-button
    = "Purchase items"