
#header-user-toggle-menu.toggle-menu.header-toggle-menu-user.hidden

  = link_to person_path(user) do
    = icon_tag("user", ["icon-with-text"])
    = t("header.profile")
  
  = link_to new_listing_path do
    = icon_tag("new_listing", ["icon-with-text"])
    = t("homepage.index.post_new_listing")

  = link_to about_infos_path do
    = icon_tag("information", ["icon-with-text"])
    = t("header.about")

  = link_to new_user_feedback_path do
    = icon_tag("feedback", ["icon-with-text"])
    = t("header.contact_us")

  = link_to logout_path do
    = icon_tag("logout", ["icon-with-text"])
    = t("layouts.logged_in.logout")
