= render :partial => 'layouts/head'
 
%body

  %header.global-header.network-header#network-nav
    .header-wrapper
      .network-header-content-container
        .left-side
          %img{:src => "/assets/logos/full/default.png"}
        .right-side
          %ul.network-navi
            %li= link_to "ABOUT", "#about", :class => "global-navi"
            %li= link_to "PRODUCERS", "#producers", :class => "global-navi"
            %li= link_to "BUYERS", "#buyers", :class => "global-navi"
            %li= link_to "CONTACT", "mailto:paul@gofarmtable.com", :class => "global-navi-right"
        .top-menu-toggle.toggle.hidden-tablet{data: {toggle: '.top-menu'}}
          .ss-rows

    %nav.top-menu.toggle-menu.hidden
      = link_to "ABOUT", "#about"
      = link_to "PRODUCERS", "#producers"
      = link_to "BUYERS", "#buyers"
      = link_to "CONTACT", "mailto:paul@gofarmtable.com"

  = yield

  %footer
    .wrapper
      .network-header-content-container
        .left-side
          %ul.network-navi
            %li= link_to "ABOUT", "#about", :class => "global-navi"
            %li= link_to "PRODUCERS", "#producers", :class => "global-navi"
            %li= link_to "BUYERS", "#buyers", :class => "global-navi"
            %li= link_to "CONTACT", "mailto:paul@gofarmtable.com", :class => "global-navi-right"
        .right-side
          .company-name
            © FarmTable 2014
          / %a.social-icon-circle{:href => "https://www.facebook.com/Sharetribe"}
          /   .ss-facebook.ss-icon.ss-social
          / %a.social-icon-circle{:href => "https://twitter.com/sharetribe"}
          /   .ss-twitter.ss-icon.ss-social
          / %a.social-icon-circle{:href => "https://plus.google.com/115623351324372170386"}
          /   .ss-googleplus.ss-icon.ss-social

  = javascript_include_tag 'application'
  = yield(:extra_javascript)
  :javascript
    $(document).ready(function() { initialize_network_defaults(); #{yield :javascript} });
